.user_card1 {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: column;
margin-top: 20px;
border-radius: 10px;
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
width: 250px;
margin-left: 40%
}

.user_card1 >img {
    border-radius: 10px;
}